<!DOCTYPE html>
<html>
<head>
  <title>Place Filter</title>
  <script>
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    }

    function showPosition(position) {
      document.getElementById('latitude').value = position.coords.latitude;
      document.getElementById('longitude').value = position.coords.longitude;
    }
  </script>
</head>
<body>
  <h1>Place Filter</h1>
  
  <form action="/process_form" method="post">
    <label for="radius">Enter Radius:</label>
    <input type="number" id="radius" name="radius" required>
    
    <label for="placeType">Filter by Place Type:</label>
  <select id="placeType" name="placeType">
    <option value="all" selected>All</option>
    <option value="temple">Temple</option>
    <option value="hotel">Hotel</option>
    <option value="park">Park</option>
    <option value="Busstop">BUS STOP</option>
    <option value="metrostation">metro</option>
    <option value="school">school/colleges</option>
    <option value="policestation">policestation</option>
    <option value="hospital">hospital</option>
    <option value="movietheatre">Movie Theatre</option>
  </select>
  
    
    
    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">
    
    <button type="submit">Submit</button>
  </form>
  
  <script>
    getLocation();
  </script>
</body>
</html>
